# Walmart Trip Type Classification - Data Wrangling
### Capstone Project - 1
### By: * Rajesh Dharmarajan *
******************
_This is my first capstone project for Springboard Career Track. This is a classification problem with Data from Walmart to predict the Trip Type. This is orginally from a Kaggle competition_

** Overview **


Walmart uses both art and science to continually make progress on their core mission of better understanding and serving their customers. One way Walmart is able to improve customers' shopping experiences is by segmenting their store visits into different trip types. 

Whether they're on a last minute run for new puppy supplies or leisurely making their way through a weekly grocery list, classifying trip types enables Walmart to create the best shopping experience for every customer.

Currently, Walmart's trip types are created from a combination of existing customer insights ("art") and purchase history data ("science"). 

The challenge here is to classify customer trips using only a transactional dataset of the items they've purchased.

https://www.kaggle.com/c/walmart-recruiting-trip-type-classification

In [1]:
import pandas as pd
import tkinter
import matplotlib.pyplot as plt
import matplotlib
import numpy as np
%matplotlib tk

** Read the file **

In [2]:
walmart_raw = pd.read_csv('wm_train.csv')

**Data fields**

* TripType - a categorical id representing the type of shopping trip the customer made. This is the ground truth that you are predicting. TripType_999 is an "other" category.
* VisitNumber - an id corresponding to a single trip by a single customer
* Weekday - the weekday of the trip
* Upc - the UPC number of the product purchased
* ScanCount - the number of the given item that was purchased. A negative value indicates a product return.
* DepartmentDescription - a high-level description of the item's department
* FinelineNumber - a more refined category for each of the products, created by Walmart

In [3]:
walmart_raw.head()

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
0,999,5,Friday,6.811315e+10,-1,FINANCIAL SERVICES,1000.0
1,30,7,Friday,6.053882e+10,1,SHOES,8931.0
2,30,7,Friday,7.410811e+09,1,PERSONAL CARE,4504.0
3,26,8,Friday,2.238404e+09,2,PAINT AND ACCESSORIES,3565.0
4,26,8,Friday,2.006614e+09,2,PAINT AND ACCESSORIES,1017.0

In [4]:
walmart_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 647054 entries, 0 to 647053
Data columns (total 7 columns):
TripType                 647054 non-null int64
VisitNumber              647054 non-null int64
Weekday                  647054 non-null object
Upc                      642925 non-null float64
ScanCount                647054 non-null int64
DepartmentDescription    645693 non-null object
FinelineNumber           642925 non-null float64
dtypes: float64(2), int64(3), object(2)
memory usage: 34.6+ MB

There are rows where both the UPC and Depeartment Description does not contain any value. Remove these rows from the 
data since, without knowning what the customer bought or returned, the trip cannot be classified

In [42]:
discard_data = walmart_raw[(walmart_raw.Upc.isnull())&(walmart_raw.DepartmentDescription.isnull())]

In [30]:
len(discard_data)

1361

In [31]:
discard_data[discard_data.Upc.isnull()]

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
25,26,8,Friday,NaN,1,NaN,NaN
548,27,259,Friday,NaN,3,NaN,NaN
549,27,259,Friday,NaN,1,NaN,NaN
959,999,409,Friday,NaN,-1,NaN,NaN
1116,39,479,Friday,NaN,1,NaN,NaN
1134,999,484,Friday,NaN,-2,NaN,NaN
1135,999,484,Friday,NaN,-2,NaN,NaN
1926,32,845,Friday,NaN,1,NaN,NaN
1927,32,845,Friday,NaN,1,NaN,NaN
2294,40,1004,Friday,NaN,1,NaN,NaN
2850,40,1179,Friday,NaN,1,NaN,NaN
3096,44,1236,Friday,NaN,1,NaN,NaN
4075,36,1627,Friday,NaN,1,NaN,NaN
4326,15,1664,Friday,NaN,-1,NaN,NaN
4327,15,1664,Friday,NaN,1,NaN,NaN
6285,999,2245,Friday,NaN,-1,NaN,NaN
6585,32,2339,Friday,NaN,1,NaN,NaN
8218,38,2881,Friday,NaN,1,NaN,NaN
8524,999,3004,Friday,NaN,1,NaN,NaN
9092,9,3148,Friday,NaN,1,NaN,NaN
9094,999,3149,Friday,NaN,1,NaN,NaN
9159,38,3173,Friday,NaN,1,NaN,NaN
9194,39,3179,Friday,NaN,1,NaN,NaN
9282,32,3208,Friday,NaN,1,NaN,NaN
9320,40,3217,Friday,NaN,1,NaN,NaN
9321,40,3217,Friday,NaN,1,NaN,NaN
9322,40,3217,Friday,NaN,1,NaN,NaN
9960,40,3381,Friday,NaN,1,NaN,NaN
10714,40,3594,Friday,NaN,1,NaN,NaN
11038,9,3701,Friday,NaN,1,NaN,NaN
...,...,...,...,...,...,...,...
634019,40,188234,Sunday,NaN,1,NaN,NaN
634292,32,188267,Sunday,NaN,1,NaN,NaN
634700,999,188355,Sunday,NaN,-1,NaN,NaN
634849,44,188391,Sunday,NaN,1,NaN,NaN
635721,40,188580,Sunday,NaN,1,NaN,NaN
635879,39,188619,Sunday,NaN,1,NaN,NaN
636090,44,188673,Sunday,NaN,1,NaN,NaN
636372,8,188743,Sunday,NaN,1,NaN,NaN
636444,999,188760,Sunday,NaN,-1,NaN,NaN
636499,40,188775,Sunday,NaN,1,NaN,NaN
636882,25,188898,Sunday,NaN,4,NaN,NaN
636883,25,188898,Sunday,NaN,2,NaN,NaN
636884,25,188898,Sunday,NaN,-2,NaN,NaN
636885,25,188898,Sunday,NaN,1,NaN,NaN
636886,25,188898,Sunday,NaN,1,NaN,NaN
636918,40,188901,Sunday,NaN,1,NaN,NaN
637067,40,188907,Sunday,NaN,2,NaN,NaN
637068,40,188907,Sunday,NaN,3,NaN,NaN
637069,40,188907,Sunday,NaN,2,NaN,NaN
639106,39,189509,Sunday,NaN,1,NaN,NaN
640573,33,189818,Sunday,NaN,1,NaN,NaN
642017,40,190133,Sunday,NaN,1,NaN,NaN
642236,999,190182,Sunday,NaN,-1,NaN,NaN
642499,40,190230,Sunday,NaN,1,NaN,NaN
642784,39,190309,Sunday,NaN,1,NaN,NaN
643137,41,190408,Sunday,NaN,1,NaN,NaN
643991,44,190651,Sunday,NaN,1,NaN,NaN
645990,44,191080,Sunday,NaN,-1,NaN,NaN
645991,44,191080,Sunday,NaN,1,NaN,NaN
645992,44,191080,Sunday,NaN,1,NaN,NaN

In [32]:
walmart_cleanse1 = walmart_raw[(walmart_raw.Upc.notnull())|(walmart_raw.DepartmentDescription.notnull())]

In [33]:
len(walmart_cleanse1)

645693

In [36]:
walmart_cleanse1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 645693 entries, 0 to 647053
Data columns (total 7 columns):
TripType                 645693 non-null int64
VisitNumber              645693 non-null int64
Weekday                  645693 non-null object
Upc                      642925 non-null float64
ScanCount                645693 non-null int64
DepartmentDescription    645693 non-null object
FinelineNumber           642925 non-null float64
dtypes: float64(2), int64(3), object(2)
memory usage: 39.4+ MB

In [50]:
walmart_cleanse1[walmart_cleanse1.VisitNumber == 496]
walmart_cleanse1[walmart_cleanse1.VisitNumber == 521]

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
1216,5,521,Friday,NaN,1,PHARMACY RX,NaN

In [80]:
walmart_cleanse1[(walmart_cleanse1.TripType==5) & (walmart_cleanse1.DepartmentDescription.str.contains('/[^PHAR]',regex=True))]

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
5067,5,1903,Friday,1.980004e+09,1,HOUSEHOLD CHEMICALS/SUPP,1555.0
5069,5,1903,Friday,2.340000e+09,1,HOUSEHOLD CHEMICALS/SUPP,1555.0
15375,5,4998,Friday,1.920000e+09,2,HOUSEHOLD CHEMICALS/SUPP,3515.0
23794,5,7484,Saturday,4.650072e+09,1,HOUSEHOLD CHEMICALS/SUPP,8920.0
29649,5,9144,Saturday,3.700091e+09,1,HOUSEHOLD CHEMICALS/SUPP,8945.0
30546,5,9346,Saturday,2.340001e+09,2,HOUSEHOLD CHEMICALS/SUPP,1555.0
39314,5,11676,Saturday,1.980004e+09,1,HOUSEHOLD CHEMICALS/SUPP,1555.0
39318,5,11676,Saturday,1.980004e+09,1,HOUSEHOLD CHEMICALS/SUPP,1555.0
40549,5,12028,Saturday,7.533883e+09,1,SLEEPWEAR/FOUNDATIONS,1260.0
45965,5,13588,Sunday,3.500053e+09,1,HOUSEHOLD CHEMICALS/SUPP,55.0
45967,5,13588,Sunday,6.781122e+10,1,HOUSEHOLD CHEMICALS/SUPP,5510.0
45969,5,13588,Sunday,1.920075e+09,1,HOUSEHOLD CHEMICALS/SUPP,3610.0
45972,5,13588,Sunday,7.874208e+09,2,HOUSEHOLD CHEMICALS/SUPP,56.0
50449,5,14692,Sunday,8.226902e+09,1,HOUSEHOLD CHEMICALS/SUPP,9207.0
63977,5,17962,Sunday,3.700017e+09,1,HOUSEHOLD CHEMICALS/SUPP,8910.0
63978,5,17962,Sunday,3.700017e+09,-1,HOUSEHOLD CHEMICALS/SUPP,8910.0
63979,5,17962,Sunday,3.700046e+09,1,HOUSEHOLD CHEMICALS/SUPP,8910.0
70933,5,19841,Monday,4.650015e+09,1,HOUSEHOLD CHEMICALS/SUPP,8920.0
71973,5,20321,Monday,7.533808e+09,1,SLEEPWEAR/FOUNDATIONS,2019.0
72040,5,20352,Monday,2.340000e+09,1,HOUSEHOLD CHEMICALS/SUPP,1555.0
72041,5,20352,Monday,2.340000e+09,1,HOUSEHOLD CHEMICALS/SUPP,1555.0
72594,5,20516,Monday,9.451441e+09,1,HOUSEHOLD CHEMICALS/SUPP,750.0
76368,5,21707,Monday,4.129497e+09,1,HOUSEHOLD CHEMICALS/SUPP,4010.0
103044,5,29914,Tuesday,2.340000e+09,2,HOUSEHOLD CHEMICALS/SUPP,1555.0
103909,5,30201,Tuesday,7.874205e+09,1,HOUSEHOLD CHEMICALS/SUPP,4510.0
103911,5,30201,Tuesday,7.092210e+09,2,HOUSEHOLD CHEMICALS/SUPP,59.0
108679,5,31643,Wednesday,4.460031e+09,1,HOUSEHOLD CHEMICALS/SUPP,1014.0
108684,5,31643,Wednesday,3.700085e+09,1,HOUSEHOLD CHEMICALS/SUPP,500.0
108685,5,31643,Wednesday,3.500039e+09,1,HOUSEHOLD CHEMICALS/SUPP,2070.0
110502,5,32451,Wednesday,8.145210e+10,1,HOUSEHOLD CHEMICALS/SUPP,1560.0
...,...,...,...,...,...,...,...
529576,5,156625,Tuesday,5.114141e+09,1,HOUSEHOLD CHEMICALS/SUPP,9520.0
529578,5,156625,Tuesday,4.460031e+09,1,HOUSEHOLD CHEMICALS/SUPP,6010.0
529579,5,156625,Tuesday,4.460002e+09,1,HOUSEHOLD CHEMICALS/SUPP,3815.0
529580,5,156625,Tuesday,4.460002e+09,1,HOUSEHOLD CHEMICALS/SUPP,62.0
532638,5,157757,Tuesday,3.500047e+09,1,HOUSEHOLD CHEMICALS/SUPP,145.0
532642,5,157757,Tuesday,4.650072e+09,1,HOUSEHOLD CHEMICALS/SUPP,8610.0
542045,5,160541,Tuesday,7.088123e+09,1,HOUSEHOLD CHEMICALS/SUPP,9610.0
542047,5,160541,Tuesday,6.781126e+10,1,HOUSEHOLD CHEMICALS/SUPP,6510.0
543611,5,160984,Tuesday,8.856157e+10,2,SLEEPWEAR/FOUNDATIONS,2929.0
553893,5,164455,Wednesday,8.856157e+10,1,SLEEPWEAR/FOUNDATIONS,3201.0
557348,5,165462,Wednesday,3.500050e+09,1,HOUSEHOLD CHEMICALS/SUPP,145.0
562434,5,167124,Thursday,3.500047e+09,1,HOUSEHOLD CHEMICALS/SUPP,145.0
564299,5,167805,Thursday,4.460031e+09,1,HOUSEHOLD CHEMICALS/SUPP,8010.0
564300,5,167805,Thursday,7.874201e+09,1,HOUSEHOLD CHEMICALS/SUPP,1025.0
565619,5,168268,Thursday,1.920001e+09,1,HOUSEHOLD CHEMICALS/SUPP,7010.0
565622,5,168268,Thursday,7.650607e+10,1,HOUSEHOLD CHEMICALS/SUPP,10.0
575348,5,171458,Thursday,6.233800e+09,1,HOUSEHOLD CHEMICALS/SUPP,1520.0
586427,5,175184,Friday,1.980004e+09,1,HOUSEHOLD CHEMICALS/SUPP,1555.0
586984,5,175326,Friday,7.261330e+09,1,HOUSEHOLD CHEMICALS/SUPP,565.0
586991,5,175326,Friday,7.874202e+09,1,HOUSEHOLD CHEMICALS/SUPP,1015.0
594293,5,177367,Friday,4.650074e+09,1,HOUSEHOLD CHEMICALS/SUPP,8910.0
597092,5,178145,Saturday,6.781121e+10,1,HOUSEHOLD CHEMICALS/SUPP,5510.0
602781,5,179892,Saturday,4.178500e+09,1,HOUSEHOLD CHEMICALS/SUPP,9140.0
602789,5,179892,Saturday,4.178500e+09,-1,HOUSEHOLD CHEMICALS/SUPP,9140.0
602790,5,179892,Saturday,4.178600e+09,1,HOUSEHOLD CHEMICALS/SUPP,9610.0
620144,5,184696,Sunday,7.319191e+10,1,HOUSEHOLD CHEMICALS/SUPP,9720.0
626193,5,186349,Sunday,3.700083e+09,1,HOUSEHOLD CHEMICALS/SUPP,2041.0
633345,5,188085,Sunday,4.650073e+09,1,HOUSEHOLD CHEMICALS/SUPP,8910.0
633488,5,188119,Sunday,5.138638e+09,1,HOUSEHOLD CHEMICALS/SUPP,9720.0
635735,5,188583,Sunday,3.500046e+09,1,HOUSEHOLD CHEMICALS/SUPP,140.0

In [81]:
count_series = walmart_cleanse1.Upc.value_counts()

In [113]:
count_series

[Float64Index([88786030657.0,  1305139482.0,  4269428770.0,  7644086478.0,
                2471931796.0, 88614490328.0,  2856272104.0, 88589800008.0,
               88711764844.0,  2856277258.0,
               ...
                8511845417.0, 68210220252.0,  2898194492.0,  1675132038.0,
               88882319989.0, 84374709043.0,  7644011360.0,  1119230643.0,
               76705282388.0,  8669413409.0],
              dtype='float64', length=37080)]

In [97]:
count_series = (count_series[count_series.values < 2])

In [123]:
walmart_cleanse1.Upc[0:5]

0    6.811315e+10
1    6.053882e+10
2    7.410811e+09
3    2.238404e+09
4    2.006614e+09
Name: Upc, dtype: float64